.karte {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 25px;
    
}

.karta- {
    border: 6px solid black;
    border-radius: 8px;
    width: 160px;
    
}

.Povratak {
bottom: 20px;
right: 20px;
position: fixed;
}
      
 



    .pozicija1 {

        position: relative;
        
    }

    .pozicija2 {
left: 150px;
position: relative;
 
    }

    .pozicija3 {

left: 300px;
position: relative;
    }

    .pozicija4 {

left: 450px;
position: relative;
    }

.slike{
            display: flex;
            flex-wrap: wrap;
            position: static;
        }
        .karta{
            position: absolute;
            z-index: 1;
            border: 5px solid black;
        }
        .karta1{
            position: absolute;
            z-index: 2;
            top: 35px;
            border-left: 5px solid black;
            border-right: 5px solid black;
            border-bottom: 5px solid black;
        }
        .karta2{
            position: absolute;
            z-index: 3;
            top: 65px;
            border-left: 5px solid black;
            border-right: 5px solid black;
            border-bottom: 5px solid black;
        }
        .karta3{
            position: absolute;
            z-index: 4;
            top: 95px;
            border-left: 5px solid black;
            border-right: 5px solid black;
            border-bottom: 5px solid black;}

            .karta4 {
position: absolute;
            z-index: 5;
            top: 125px;
            border-left: 5px solid black;
            border-right: 5px solid black;
            border-bottom: 5px solid black;

            }

            .prvagrupa, .drugagrupa, .trecagrupa, .cetvrtagrupa {
        position: relative;
        width: 150px; 
        height: 250px; 
        }